:root {
  --clr-desaturated-red: hsl(0, 36%, 70%);
  --clr-soft-red: hsl(0, 93%, 68%);
  --clr-dark-grayish-red: hsl(0, 6%, 24%);

  --gradient-1: hsl(0, 0%, 100%);
  --gradient-2: hsl(0, 100%, 98%);
  --gradient-3: hsl(0, 80%, 86%);
  --gradient-4: hsl(0, 74%, 74%);
}
